<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>::::::::PRECTICE::::::::</title>
        <style>
            a{
                text-decoration: none;
            }
        </style>
    </head>
    <body style="font-size: 14px; line-height: 180%; width: 1000px">
        <!-- 상단 -->
        <div style="text-align: center">
            <h1><a href="/" style="color: rgb(27, 180, 134);">MAIN PAGE</a></h1>
        </div>
        <hr />
            {{{ body }}}
    </body>
</html>