        <div style="float: left; width: 40%">
    
</div>
        <div style="float: right; width: 60%">
        <form action="/delete_process" method="POST">
            <input type="hidden" name="id" value="{{{ deleteFileName }}}">
            <p>
            <input type="text" name="title" placeholder="제목" value="{{{ deleteFileName }}}" style="float: none; width: 350px;">
            </p>
            <p>
                <textarea name="description" placeholder="설명" style="float: none; width: 350px; height: 300px">{{{ deleteFileDescription }}}</textarea>
            </p>
            <p>
                <input type="submit" value="글 및 이미지 삭제" style="background-color: rgb(116, 6, 6); color:white; font-weight:bolder">
            </p>
        </form>
        </div>